body {
  box-sizing: border-box;
  background-color: #F1F1F1;
  overflow-x: hidden;
  margin: 0px;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: local('OpenSans-Bold'), url(./fonts/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: local('RobotoCondensed-Bold'), url(./fonts/RobotoCondensed-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans-Medium';
  src: local('OpenSans-Medium'), url(./fonts/OpenSans-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway-Medium';
  src: local('Raleway-Medium'), url(./fonts/Raleway-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans-Light';
  src: local('OpenSans-Light'), url(./fonts/OpenSans-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans-Italic';
  src: local('OpenSans-Italic'), url(./fonts/OpenSans-Italic.ttf) format('truetype');
}